<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstdatabase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_Record" >
        </activity>
        <activity android:name=".Delete_Record" >
        </activity>
        <activity
            android:name=".UpdateRecord"
            android:label="@string/title_activity_update_record" >
        </activity>
        <activity
            android:name=".Disply_Record"
            android:label="@string/title_activity_disply__record" >
        </activity>
        <activity
            android:name=".Search_Record"
            android:label="@string/title_activity_search__record" >
        </activity>
        <activity
            android:name=".DisplyWithList"
            android:label="@string/title_activity_disply_with_list" >
        </activity>
    </application>

</manifest>
