<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relative_layout_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_FirstScreen"
            android:label="@string/title_activity_activity__first_screen" >
        </activity>
        <activity
            android:name=".Activity_SecondScreen"
            android:label="@string/title_activity_activity__second_screen" >
        </activity>
        <activity
            android:name=".Activity_ThirdScreen"
            android:label="@string/title_activity_activity__third_screen" >
        </activity>
        <activity
            android:name=".Activity_FourthScreen"
            android:label="@string/title_activity_activity__fourth_screen" >
        </activity>
        <activity
            android:name=".Activity_FifthScreen"
            android:label="@string/title_activity_activity__fifth_screen" >
        </activity>
    </application>

</manifest>
